* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;  
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex_space {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    background: none;
    outline: none; 
    transition: 0.5s;
    cursor: pointer;

}

.primary-btn {
    padding: 15px 40px;
    background: #A03BDB;
    font-weight: bold;
    color: white;

}

.secondary-btn {
    padding: 15px 40px;
    background: none;
    border: 2px solid white;
    font-weight: bold;
    color: white;
}

.container {
    max-width: 85%;
    margin: auto;
}

/* ----------------------header---------------------------------- */

header{
    height: 10vh;
    line-height: 10vh;
    padding: 0 20px;
}

header img {
    margin: 20px 0;
}

header ul {
    display: inline-block;
}
header ul li{
    display: inline-block;
    text-transform: uppercase;
}

header ul li a {
    color: #010000; 
    margin: 0 10px;
    transition: 0.5s;
}

header ul li a:hover {
    color: #A03BDB;

}

