* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;  
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex_space {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    background: none;
    outline: none; 
    transition: 0.5s;
    cursor: pointer;

}

.primary-btn {
    padding: 15px 40px;
    background: #A03BDB;
    font-weight: bold;
    color: white;

}

.secondary-btn {
    padding: 15px 40px;
    background: none;
    border: 2px solid white;
    font-weight: bold;
    color: white;
}

.container {
    max-width: 85%;
    margin: auto;
}

/* ----------------------header---------------------------------- */

header{
    height: 10vh;
    line-height: 10vh;
    padding: 0 20px;
}

header img {
    margin: 20px 0;
}

header ul {
    display: inline-block;
}
header ul li{
    display: inline-block;
    text-transform: uppercase;
}

header ul li a {
    color: #010000; 
    margin: 0 10px;
    transition: 0.5s;
}

header ul li a:hover {
    color: #A03BDB;

}

header i {

    margin: 0 20px;

}

header button {
    padding: 13px 40px;
}

header .navlinks span {
    display: none;
}

@media only screen and (max-width: 768px) {
    header ul {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #2F6CBD;
        overflow: hidden;
        transition: max-height 0.5s;
        text-align: center; 
        z-index: 9;
    }

    header ul li {
        display: block;

    }

    header ul li a {
        color: white;  
    }
    header .navlinks span{
        color: black;
        display: block;
        cursor: pointer;
        line-height: 10vh;
        font-size: 25px;
    }
}


/*-----------header----------------*/
/*-----------home-----------------*/
.home{
    height: 100vh;
    color: #fff;
}

.home img {
    width: 100%;
    height: 100vh;

}
.home .text{
    position: absolute;
    top: 35%;
    left: 5%;
}

.home .text h1 {
    font-size: 80px;
    font-family: serif;
    font-weight: 400;
}
.home p{
    margin: 20px 0;


}
.home button{
    margin-right: 20px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next{
    position: absolute;
    top:40%;
    height: 50px;
    width: 50px;
    background: rgba(0,0,0,0.5) !important;
    color: #fff;
}

.owl-nav .owl-prev{
    left: 0;
}

.owl-nav .owl-prev {
    right: 0;
}

/*------------home-----------------*/
/*-----------book-----------------*/
.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
}
input{
    outline: none;
    border: none;
    width: 100%;
    
}


.book {
    padding: 40px 0;
    background: #282834;
    color: #fff;
}
h1 {
    font-family: serif;
}


.book h1 {
    font-size: 28px;
}

.book h1 span {
    color: #A03BDB;
}

.book input {
    padding: 20px;
}

.book input:nth-last-child(1) {
    background: #A03BDB;
    color: #fff;
}


/*-----------book-----------------*/