<!DOCTYPE html>
<html>
<head>
  <title>Check In</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      text-align: center;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    h1 {
      color: #333;
      margin-bottom: 20px;
    }
    form {
      text-align: left;
    }
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
    input, select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
    .btn-container {
      margin-top: 20px;
    }
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease;
      cursor: pointer;
      margin-right: 10px;
    }
    .btn:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Check In</h1>
    <% if (errorMessage) { %>
      <p class="error"><%= errorMessage %></p>
    <% } %>
    <form action="/checkin" method="POST">
      <label for="room_number">Room Number:</label>
      <input type="text" name="room_number" required>
      <label for="guest_name">First Name:</label>
      <input type="text" name="guest_name" required>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" required>
      <label for="num_of_days">Number of Days:</label>
      <input type="number" name="num_of_days" required>
      <label for="room_type">Room Type:</label>
      <select name="room_type">
        <option value="standard">Standard</option>
        <option value="double">Double</option>
        <option value="grand_suite">Grand Suite</option>
      </select>
      <button type="submit">Check In</button>
    </form>
    <div class="btn-container">
      <a class="btn" href="/">Back to Occupied Rooms</a>
      <a class="btn" href="/checkout">Check Out</a>
      <a class="btn" href="/support">Support</a>
    </div>
  </div>
</body>
</html>
